.stats {
  background-color: white;
  box-shadow: 0px 0px 7px 0px rgb(121, 122, 125);
  border-radius: 4px;
  margin: 0 auto;
  max-width: 355px;
}
.title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.list {
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: rgb(204, 205, 218);
}
.item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  gap: 10px;
  min-width: 51px;
}
.percentage {
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
}
